@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Silkscreen:regular,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 200vh;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

header {
  padding-top: 3rem;
  position: relative;
  top: 0;
  width: 100%;
}

h2 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Silkscreen";
  font-size: 2rem;
}

.app_title {
  text-align: center;
  margin-bottom: 2rem;
  color: hsl(120, 100%, 49%);
}

.underline {
  width: 20rem;
  height: 0.25rem;
  background: hsl(120, 100%, 49%);
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.btn-links {
  display: flex;
  justify-content: center;
}
.btn {
  margin: 1rem auto;
  height: 1rem;
  width: 20%;
  border: 2px solid rgb(0, 255, 0);
  border-radius: 25px;
  color: #00ff00;
  padding: 16px;
  text-align: center;
  background-color: #00000026;
  font-family: "Silkscreen";
  font-size: medium;
}
p {
  position: relative;
  top: -0.6rem;
}

.listhtml,
.listbootstrap,
.listjs,
.listreact {
  margin-left: 40px;
  list-style-type: circle;
  color: rgb(234, 255, 0);
  display: none;
}
.html:hover .listhtml,
.bootstrap:hover .listbootstrap,
.js:hover .listjs,
.react:hover .listreact,
.html:active .listhtml,
.bootstrap:active .listbootstrap,
.js:active .listjs,
.react:active .listreact {
  /* background-color: #0000009e; */
  display: block;
  height: 100%;
}
.html:hover,
.bootstrap:hover,
.js:hover,
.react:hover,
.html:active,
.bootstrap:active,
.js:active,
.react:active {
  background-color: rgba(0, 0, 0, 0.989);
  display: block;
  height: 100%;
}
li {
  margin-top: 10px;
  text-align: start;
}
a {
  display: block;
  color: #ff0000;
  text-decoration: none;
}

li:hover,
li:active {
  list-style-type: disc;
}

li:hover a,
li:active a {
  color: rgb(234, 255, 0);
  font-weight: 1000;
  border-radius: 25px;
  /* transform: rotateY(90deg);  */
  transform: translateX(10px);
  transition: transform 0.1s;
}
/* }
li:active a{
  transform: rotateY(180deg);
  transition: transform .2s;
}
li:hover a,
li:active a{
  transform: rotateY(270deg);
  transition: transform .3s;
}
li:active a{
  transform: rotateY(360deg);
  transition: transform .4s;
}
li:active a{
  transform: rotateY(450deg);
  transition: transform .5s;
}
li:active a{
  transform: rotateY(540deg);
  transition: transform .6s;
} */

@media screen and (max-width: 992px) {
  .btn {
    margin: 1rem auto;
    height: 1rem;
    width: 20%;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 25px;
    color: #00ff00;
    padding: 16px;
    text-align: center;
    background-color: #00000026;
    font-family: "Silkscreen";
    font-size: small;
  }
  .listhtml,
  .listbootstrap,
  .listjs,
  .listreact {
    margin-left: 30px;
    list-style-type: circle;
    color: rgb(234, 255, 0);
    display: none;
  }
  p {
    position: relative;
    top: -0.6rem;
  }
  .html:hover .listhtml,
  .bootstrap:hover .listbootstrap,
  .js:hover .listjs,
  .react:hover .listreact,
  .html:active .listhtml,
  .bootstrap:active .listbootstrap,
  .js:active .listjs,
  .react:active .listreact {
    /* background-color: #0000009e; */
    display: block;
    height: 100%;
  }
  .html:hover,
  .bootstrap:hover,
  .js:hover,
  .react:hover,
  .html:active,
  .bootstrap:active,
  .js:active,
  .react:active {
    background-color: #000000eb;
    display: block;
    height: 100%;
  }
  li:hover a,
  li:active a {
    color: rgb(234, 255, 0);
    /* font-weight: 1000; */
    border-radius: 25px;
    transform: translateX(0px);
    transition: transform 0.1s;
    /* transform: rotateY(90deg); */
  }
}

@media screen and (max-width: 576px) {
  .btn {
    margin: 1rem auto;
    height: 1rem;
    width: 20%;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 25px;
    color: #00ff00;
    padding: 16px;
    text-align: center;
    background-color: #00000026;
    font-family: "Silkscreen";
    font-size: smaller;
  }
  p {
    position: relative;
    top: -1rem;
  }
  .first2 {
    position: relative;
    top: -8px;
    left: -10px;
  }
  .listhtml,
  .listbootstrap,
  .listjs,
  .listreact {
    margin-left: 4px;
    list-style-type: circle;
    color: rgb(234, 255, 0);
    display: none;
  }
  .html:hover .listhtml,
  .bootstrap:hover .listbootstrap,
  .js:hover .listjs,
  .react:hover .listreact,
  .html:active .listhtml,
  .bootstrap:active .listbootstrap,
  .js:active .listjs,
  .react:active .listreact {
    /* background-color: #0000009e; */
    display: block;
    height: 100%;
  }
  .html:hover,
  .bootstrap:hover,
  .js:hover,
  .react:hover,
  .html:active,
  .bootstrap:active,
  .js:active,
  .react:active {
    background-color: #000000f2;
    display: block;
    height: 100%;
  }
  li:hover a,
  li:active a {
    color: rgb(234, 255, 0);
    /* font-weight: 1000; */
    border-radius: 25px;
    transform: translateX(0px);
    transition: transform 0.1s;
    /* transform: rotateY(90deg); */
  }
}
